# Visual Studio
.vs/
.vscode/
*.code-workspace

# Fitxers de compilació
build/
[Bb]uild*/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
x64/
x86/
out/

# Fitxers de dependències de projecte
*.vcxproj.user
*.vcxproj.filters
*.csproj.user
*.dbmdl
*.suo
*.sdf
*.cache/
*.pdb
*.opendb
*.ilk
*.log
*.tlog/
*.idb
*.lastbuildstate
ipch/

# Fitxers de paquets i llibreries
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
.nuget/
*.props

# Fitxers temporals
*.tmp
*.temp
*.obj
*.o

# Fitxers de configuració temporals
*.log
*.rsuser
*.userprefs
*.user
*.userosscache

# Fitxers de compilador i de proves
*.exe
*.dll
*.lib
*.manifest
*.coverage
TestResults/

# Fitxers de configuració de l'entorn
*.psess
*.dotCover
*.prof
*.vspx
*.vsps
*.vsp
*.profileresp

# Altres fitxers
Thumbs.db
desktop.ini
*.DS_Store
*.json
*.targets
*.cache
*.hpp
